@use "./_variables.scss" as vars;

@mixin page {
	align-items: center;
	background: var(--background-color);
	box-shadow: var(--box-shadow);
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	margin-inline: auto;
	max-width: vars.$ultra-wide;
	min-height: calc(100vh - vars.$footer-height + 1px);
	padding-top: 0;
	width: 100%;
}

@mixin inner {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-inline: auto;
	min-height: calc(100vh - vars.$nav-height + 1px);
	padding-block: 4rem;
	padding-top: 0;
	width: 100%;

	@media (min-width: vars.$tablet) {
		padding-top: 2rem;
		margin-top: 0;
	}
}

@mixin pageContent {
	margin-inline: auto;
	max-width: 100%;
	padding: 2rem;
	width: vars.$ultra-wide;

	@media (min-width: vars.$tablet) {
		padding-inline: 3rem;
	}

	@media (min-width: vars.$large-tablet) {
		padding-inline: 4rem;
	}

	@media (min-width: vars.$desktop) {
		padding-inline: 6rem;
	}

	@media (min-width: vars.$ultra-wide) {
		padding-inline: 8rem;
	}
}

@mixin sectionHeading {
	// might want to use a custom heading color
	color: var(--text-color);
	font-family: var(--heading-font);
	font-size: var(--font-size-lg);
	font-weight: 600;
	letter-spacing: var(--letter-spacing-lg);
	margin-bottom: 1rem;
	margin-inline: auto;
	position: relative;
	text-align: center;
	white-space: nowrap;

	@media (min-width: vars.$tablet) {
		display: inline-block;
		font-size: var(--font-size-xl);
		margin-inline: auto;
	}

	@media (min-width: vars.$large-tablet) {
		display: inline-block;
		font-size: var(--font-size-2xl);
		margin-bottom: 2rem;
		margin-inline: auto;
	}

	@media (min-width: vars.$desktop) {
		font-size: var(--font-size-3xl);
	}
}

@mixin sectionLead {
	color: var(--text-color);
	font-size: var(--font-size-md);
	letter-spacing: var(--letter-spacing-lg);
	line-height: var(--line-height-md);
	margin-bottom: 1rem;

	@media (min-width: vars.$tablet) {
		font-size: var(--font-size-lg);
	}

	@media (min-width: vars.$desktop) {
		font-size: var(--font-size-xl);
	}
}

@mixin cardTitleHeading {
	color: var(--text-color);
	font-size: var(--font-size-md);
	font-weight: 600;
	letter-spacing: var(--letter-spacing-md);
	line-height: var(--line-height-lg);
	margin-block: 1rem;

	@media (min-width: vars.$tablet) {
		font-size: var(--font-size-lg);
	}

	@media (min-width: vars.$desktop) {
		font-size: var(--font-size-xl);
	}
}

// basic UI elements
@mixin cardImg {
	aspect-ratio: 16/9;
	border-radius: var(--border-radius-card-image);
	max-width: 100%;
	object-fit: cover;
	object-position: center center;
	overflow: hidden;
	width: 100%;
}

@mixin cardBoxShadow {
	box-shadow:
		0 4px 12px rgba(0, 0, 0, 0.25),
		0 8px 24px rgba(0, 0, 0, 0.15);
}

@mixin cardTag {
	background: var(--accent-color);
	border-radius: var(--border-radius);
	color: var(--button-text-color);
	font-size: var(--font-size-sm);
	font-weight: 700;
	padding: var(--tag-padding);
	letter-spacing: var(--letter-spacing-xl);
	margin-top: auto;
	width: fit-content;

	@media (min-width: vars.$medium-tablet) {
		font-size: var(--font-size-md);
	}
}

@mixin sectionHeadingWithAccent {
	@include sectionHeading;
	&::after {
		@include afterAccent;
		width: 2rem;

		@media (min-width: vars.$tablet) {
			width: 3rem;
		}
	}
}

// *** navigation
@mixin navbar {
	background: var(--nav-footer-bg);
	height: vars.$nav-height;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: all 500ms ease-in-out;
	width: 100%;
	z-index: 2;
	background: var(--nav-footer-bg);

	&.hide {
		margin-top: calc(-1 * (vars.$nav-height + 1rem));
	}
}

@mixin button {
	align-items: center;
	background: var(--button-background);
	border: none;
	border-radius: var(--border-radius);
	color: var(--button-color);
	cursor: pointer;
	display: inline-flex;
	font-size: 1rem;
	font-weight: 500;
	justify-content: center;
	padding: 0.5rem 1rem;
	transition: background-color 0.3s ease;

	&:hover {
		background: var(--button-color);
		color: var(--button-background);
		outline: 2px solid var(--button-background);
	}

	&:active {
		transform: scale(0.98);
	}
}

@mixin buttonRounded {
	@include button;
	& {
		border-radius: 3rem;
	}
}

@mixin input {
	background: var(--background-color);
	border: 1px solid var(--text-color);
	border-radius: var(--border-radius);
	color: var(--text-color);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.125rem;
	padding-block: 0.5rem;
	padding-inline: 0.5rem;
	position: relative;
	width: 100%;

	&::placeholder {
		color: var(--text-color);
		opacity: 0.5;
	}

	&:-webkit-autofill {
		-webkit-box-shadow: none !important;
		background-color: transparent !important;
		box-shadow: none !important;
		color: inherit;
		transition: background-color 5000s ease-in-out 0s;
	}

	&:-webkit-autofill::first-line {
		color: var(--text-color) !important;
	}

	&:active,
	&:focus {
		border: 1px solid var(--text-color);
		color: inherit;
		outline: 1px solid var(--text-color);
	}
}

@mixin checkboxInput {
	@include input;

	& {
		border-radius: 4px;
		height: 1.125rem;
		margin-inline-end: 0.5rem;
		max-width: 1.125rem;
		padding: 0.5rem;
		position: relative;
		width: 1.125rem;

		&:checked::after {
			border-bottom: 2px solid #000;
			border-right: 2px solid #000;
			content: "";
			height: 0.65rem;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
			width: 0.33rem;
		}
	}
}

// accents and decorations
@mixin afterAccent {
	background: var(--accent-color);
	bottom: -0.35rem;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	right: 0;
}

@mixin accentBar {
	background: var(--accent-color);
	border-bottom-right-radius: var(--accent-bar-border-radius);
	border-top-right-radius: var(--accent-bar-border-radius);
	height: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(calc(-50% + calc(vars.$nav-height / 2)));
	width: 1rem;

	@media (min-width: vars.$small-tablet) {
		width: 1.125rem;
	}

	@media (min-width: vars.$tablet) {
		width: 1.5rem;
	}
}

@mixin accentBarDetail {
	display: none;

	@media (min-width: vars.$large-tablet) {
		@include accentBar;
		display: block;
		height: 80%;
		margin: 0;
		top: 10%;
		transform: translateY(0%);
	}
}

@mixin error {
	color: var(--error-color);
	bottom: 0.25rem;
	display: block;
	font-size: 0.8rem;
	margin-inline-start: 0.5rem;
	position: absolute;
}

@mixin shootImg {
	aspect-ratio: 1 / 1;
	max-width: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

@mixin shootDetailsImg {
	@include shootImg;
	aspect-ratio: 4 / 5;
}

@mixin selectChooser {
	&__inner {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		@media (min-width: vars.$tablet) {
			flex-direction: row;
		}
	}

	&__select {
		background: var(--background-color);
		border: 1px solid var(--text-color);
		border-radius: var(--border-radius);
		color: var(--text-color);
		height: 3rem;
		font-size: 1rem;
		padding: 0.25rem;
		text-align: center;
		width: 100%;

		&.userDisabled {
			pointer-events: none;
		}

		&:focus,
		&:active {
			outline: none;
		}
	}

	&__button-container {
		display: flex;
		justify-content: center;
		gap: 1rem;

		@media (min-width: vars.$tablet) {
			gap: 0.5rem;
		}
	}

	&__button {
		align-items: center;
		border: 1px solid var(--text-color);
		border-radius: 50%;
		display: flex;
		height: 2.25rem;
		justify-content: center;
		padding: 0.25rem;
		width: 2.25rem;

		&--add {
			height: 35px;
			width: 35px;
		}

		&--add-stroke {
			stroke: var(--text-color);
		}
	}

	&--remove-icon {
		stroke: var(--text-color);
	}
}

@mixin navLink {
	color: var(--text-color);
	cursor: pointer;
	display: flex;
	font-size: 1rem;
	font-weight: 600;
	justify-content: center;
	letter-spacing: 3px;

	@media (min-width: vars.$small-phone) {
		font-size: 1.25rem;
	}
}

@mixin cardBoxShadow {
	box-shadow:
		0 4px 12px rgba(0, 0, 0, 0.25),
		0 8px 24px rgba(0, 0, 0, 0.15) !important;
}

@mixin disabledButton {
	opacity: 0.5;
	pointer-events: none;
}

// ***
@mixin sideNav {
	background: var(--nav-footer-bg);
	bottom: 0;
	box-shadow: var(--nav-footer-box-shadow);
	height: 100vh;
	position: fixed;
	top: 0;
	transition: transform 0.33s ease-in-out;
	width: 80vw;
	will-change: transform;
	z-index: 3;

	@media (min-width: vars.$side-nav-50vw-breakpoint) {
		width: 50vw;
	}

	&.show {
		transform: translateX(0); /* slide in */
		transition: transform 0.33s ease-out;
	}
}

@mixin sideNavRightToLeft {
	@include sideNav;
	& {
		right: 0;
		transform: translateX(100%); /* start offscreen right */
	}
}

@mixin sideNavLeftToRight {
	@include sideNav;
	left: 0;
	transform: translateX(-100%); /* start offscreen right */
}

@mixin clickOffDiv {
	height: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;
}

@mixin sideNavCloseButton {
	cursor: pointer;
	height: vars.$side-nav-close-button-height;
	position: fixed;
	top: calc((vars.$nav-height - vars.$side-nav-close-button-height) / 2);
	width: vars.$side-nav-close-button-height;
}

@mixin sideNavInner {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding-bottom: 8rem;
	position: relative;
}

@mixin sideNavLinks {
	color: var(--nav-link-color);
	display: flex;
	flex-direction: column;
	gap: 4rem;
	margin-top: 8rem;
}

@mixin navBarToggle {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	gap: 0.45rem;
	height: vars.$nav-toggle-height;
	justify-content: center;
	position: absolute;
	top: calc((vars.$nav-height - vars.$nav-toggle-height) / 2);
	width: 2.25rem;

	@media (min-width: vars.$large-tablet) {
		display: none;
	}

	&.open {
		.navBarToggle__icon:nth-child(1) {
			transform: translateY(0.55rem) rotate(225deg);
		}

		.navBarToggle__icon:nth-child(2) {
			opacity: 0;
		}

		.navBarToggle__icon:nth-child(3) {
			transform: translateY(-0.55rem) rotate(-225deg);
		}
	}
}

@mixin navBarToggleRight {
	@include navBarToggle;
	right: 2rem;
}

@mixin navContent {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	margin-inline: auto;
	max-width: vars.$ultra-wide;
	padding-inline: 4rem;
	width: 100%;

	@media (min-width: vars.$desktop) {
		padding-inline: 8rem;
	}
}

@mixin cardTitleHeading {
	border-bottom: 2px solid var(--accent-color);
	color: var(--text-color);
	display: inline-block;
	font-size: var(--font-size-base);
	font-weight: 500;
	letter-spacing: var(--letter-spacing-lg);
	line-height: var(--line-height-xl);

	@media (min-width: vars.$tablet) {
		font-size: var(--font-size-lg);
	}

	@media (min-width: vars.$desktop) {
		font-size: var(--font-size-xl);
	}
}

@mixin cardTextBlurb {
	font-size: var(--font-size-md);
	letter-spacing: var(--letter-spacing-md);
	line-height: var(--line-height-md);
	margin-bottom: 2rem;

	@media (min-width: vars.$tablet) {
		font-size: var(--font-size-lg);
	}

	@media (min-width: vars.$desktop) {
		font-size: var(--font-size-xl);
	}
}

@mixin buttonContainer {
	align-items: center;
	display: flex;
	gap: 2rem;
	justify-content: center;
}

@mixin button {
	align-items: center;
	background: var(--accent-color);
	border: none;
	color: var(--button-text-color);
	cursor: pointer;
	display: flex;
	justify-content: center;
	font-family: var(--heading-font);
	font-size: var(--button-text-xs);
	font-weight: 700;
	letter-spacing: var(--letter-spacing-2xl);
	padding: var(--button-padding-base);
	text-align: center;
	transition: all 0.2s ease-in-out;
	z-index: 2;

	&.disabled {
		opacity: var(--button-disabled-opacity);
		pointer-events: none;
	}

	@media (min-width: vars.$small-phone) {
		font-size: var(--button-text-sm);
	}

	@media (min-width: vars.$small-tablet) {
		font-size: var(--button-text-lg);
	}

	&:hover {
		@include hoverClickGrow;
	}

	&:active {
		scale: 0.95;
	}

	&:focus {
		outline: 2px solid var(--accent-color);
		outline-offset: 2px;
	}

	&:visited {
		color: var(--button-text-color);
		padding: var(--button-padding-sm);
	}

	@media (min-width: vars.$desktop) {
		font-size: var(--button-text-lg);
	}

	@media (min-width: vars.$ultra-wide) {
		font-size: var(--button-text-xl);
		letter-spacing: var(--letter-spacing-xl);
		padding: var(--button-padding-xl);
	}
}

@mixin roundedButton {
	@include button;
	& {
		border-radius: 2rem;
	}
}

@mixin imageBox {
	display: block;
	inset: 0;
	overflow: hidden;
	position: relative;
	z-index: 0;
}

// labels and accessibility
@mixin hiddenLabel {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

@mixin textLink {
	color: var(--accent-color) !important;
	cursor: pointer;
	text-decoration: underline;

	&.disabled {
		pointer-events: none;
		opacity: var(--button-disabled-opacity);
	}
}

@mixin hoverClickGrow {
	transform: scale(1.025);
	transition: all 0.25s ease-in-out;
}

@mixin hoverClickGrowIcon {
	transform: scale(1.15);
	@include hoverClickGrow;
}

@mixin hoverClickShrink {
	transform: scale(0.99);
	transition: all 0.25s ease-in;
}

@mixin diabledButton {
	cursor: pointer;
	opacity: 0.5;
	pointer-events: none;
}
