// heights
$nav-height: 5rem;
$nav-toggle-height: 2.5rem;
$side-nav-close-button-height: 1.85rem;
$footer-height: 4rem;

// custom variables for sizing
$small-phone: 400px;
$small-tablet: 480px;
$tablet: 768px;
$medium-tablet: 900px;
$large-tablet: 1080px;
$desktop: 1280px;
$ultra-wide: 1920px;

// custom variables for spacing
$three-column-grid-gap-value: 2rem;
$four-column-grid-gap-value: 2rem;

// custom variables for component specific breakpoints
$side-nav-50vw-breakpoint: 525px;
